{% load humanize %}

<html>
	<body>
		<form action="signUp" method="post">
		{% csrf_token %}
			<label for="email" class="col-sm-4 control-label">Email*:</label>
	          <div>
	            {{form.email}}
	          </div>
	        <label for="pssword" class="col-sm-4 control-label">Password*:</label>
              <div class="col-sm-5">
                {{form.password}}
              </div>
            <label for="pssword2" class="col-sm-4 control-label">Re-password*:</label>
              <div class="col-sm-5">
                {{form.confirm_password}}
              </div>
	        <div class="col-sm-offset-2 col-sm-10">
	          <button type="submit" class="btn btn-default">Submit</button>
	        </div>
		</form>
	</body>
</html>